h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
  }


.card {
display:inline-block;
}