body, html {
height:100vh;
background-color:black;
}



.empty{
background-image: url("images/home.png");
 background-size:40%;
 background-position: bottom;
 background-repeat: no-repeat;
 
}


.empty:hover{
    background-image: url("images/home2.png");
     background-size:40%;
     background-position: bottom;
     background-repeat: no-repeat;
     
    }


.jumbotron {
    background-color:transparent;
   padding-top:10em;
}

.btn {
    border-color:white;
    border-width: 3px;
    background-color:transparent;
    color:rgba(255,255,255,.8);

}

.btn:hover {
    border-color:white;
    border-width: 4px;
    background-color:transparent;
    color:rgba(255,255,255,.8);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color:white;
}
.btn-primary:active {
    background-color:white;
}

a {
    color:rgba(255,255,255,.8);
}

a:hover {
    color:rgba(222, 168, 215, 0.968);
    text-decoration:none;
}

.display-4 {
    font-family:'Bebas Neue',cursive;
}

.siteimage {
    border-radius:5px;
}

.sitesheader {
    font-family:'Bebas Neue',cursive;
    color:rgba(255,255,255,.8);
}

.sitestext {
    font-family:'Open Sans',sans-serif;
    color:rgba(255,255,255,.8);
    font-size:14px;
}