@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
}

body {
    background-color:black;
}

#homebacking  {
    
    animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-delay: 1;
    transform-origin: center;
}

#face {
  position:relative;
  z-index:900;
  top:60%;
}




@keyframes spin {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
  } 



  #breakup1 {
    background-color:rgb(90,88,140);;
}

#breakup2 {
    background-color:rgb(0,146,77);
}


@media (max-width:600px) {
    #face {
        position:relative;
        z-index:900;
        top:50%;
      }
}



