@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&amp;display=swap");

body, html {
  background-color:black;
}
.navbar {
  background-color:black;
}
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
  background-color: black;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.nav-link {
  color:rgba(255, 255, 255, 0.8);
  font-family: 'Bebas Neue',sans-serif;
  font-size:60px;
  margin:40px;
  
}

.nav-link:hover {
  color:rgba(222, 168, 215, 0.968627);
}